.title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: $grey;
  &-fz30 {
    font-size: 30px;
  }
}
